<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#works">Works</a></li>
                <li><a href="#contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="about">
            <div class="container">
                <center>
                    <h2>About Me</h2>
                    <div class="content">
                        <p>Welcome! My name is Bello Said Ahmed</p>
                        <p>Backend developer</p>
                    </div>
                    <!-- <div class="image-container">
                        <img src="/img/bello.jpg" alt="bello">
                    </div> -->
            </div>
            </center>
        </section>
        <section id="skills">
            <div class="container">
                <center>
                    <h2>Technologies</h2>
                    <div class="content">
                        <ul>
                            <img src="/img/react.png" alt="react">
                            <img src="/img/javascript.png" alt="javaScript">
                            <img src="/img/typescript.png" alt="typescript">
                            <img src="/img/nodejs.png" alt="node.js x express">
                            <img src="/img/nestjs.png" alt="nest.js">
                            <img src="/img/python.jpeg" alt="python.js">
                            <img src="/img/mongo.png" alt="mongo">
                        </ul>
                </center>
            </div>
            </div>
        </section>
        <section id="works">
            <div class="container">
                <center>
                    <h2>Works</h2>
                    <div class="content">
                        <p>Here are some of my recent works:</p>
                        <ul>
                            <li>
                                <a href="https://github.com/mubeess/trust_logistic">Trust Logistic</a> - An application
                                where
                                parcels(packages) can be sent from one state to another. Contributed in the backend to
                                of
                                the
                                website.
                            </li>
                            <li>
                                <a href="https://github.com/bellosahmed/blogmern">Blog </a> - A blog website I created
                                with
                                React,
                                MongoDB, and Express where you can register and also post, delete, and edit posts. Also
                                see
                                other
                                users' posts.
                            </li>
                            <li>
                                <a href="https://github.com/bellosahmed/twitter-api">Twitter API</a> - A mini Twitter
                                API I
                                created
                                that can post, delete, edit, follow, unfollow, like. I created purely the backend.
                            </li>
                        </ul>
                </center>
            </div>
            </div>
        </section>
        <section id="contact">
            <div class="container">
                <center>
                    <h2>Contact Me</h2>
                    <div class="content">
                        <a href="https://www.linkedin.com/in/bello-s-ahmed-37a419221/"><img src="/img/lin.png"
                                alt="LinkedIn"></a>
                        <a href="mailto:bello.ahmed2001@gmail.com"><img src="/img/gmail.png" alt="Gmail"></a>
                        <a href="tel:+2347084961171"><img src="/img/phonenum.png" alt="Phone Number"></a>
                </center>
            </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Bello Ahmed</p>
    </footer>
</body>

</html>